@import "tailwindcss";

@theme {
  --color-success: #16a34a;
  --color-muted: #737373;
  --color-foreground: #0a0a0a;
}

body {
  background-color: #fafafa;
}

.container {
  @apply max-w-[1280px] mx-auto w-full;
}

.card {
  @apply bg-white rounded-[10px] border-[0.5px] border-[#E5E5E5];
}

.custom-btn{
  @apply bg-white rounded-lg border border-[#E5E5E5] shadow-xs py-1.5 px-4 cursor-pointer;
}

.custom-ag-grid {
  .ag-root-wrapper {
    @apply border-0;
  }
  .ag-header {
    @apply bg-[#F5F5F5] rounded-lg border-b-0;

    .ag-header-cell-text {
      @apply text-xs text-[#737373] font-normal;
    }
  }
  .ag-header-cell[col-id="issue"],
  .ag-header-cell[col-id="sentiment"] {
    .ag-header-cell-label {
      @apply justify-end;
    }
  }
  .ag-center-cols-container {
    .ag-cell {
      @apply flex items-center text-sm;
    }
    .ag-row {
      @apply border-[#E5E5E5] last:border-b-0;
    }
    .ag-cell[col-id="stock"] {
      @apply text-right justify-center;
    }
    .ag-cell[col-id="issue"],
    .ag-cell[col-id="sentiment"] {
      @apply text-right justify-end;
    }
  }
}
